* {
    margin: 0 auto;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: cornsilk;
    color: black;
    text-align: left;
}

img {
    transform: translateX(-4214px) rotate(720deg);
    position: relative;
    left: 4214px;
    height: auto;
    max-width: 100%;
    margin-top: 16px;
}

.article {
    max-width: 680px;
    padding: 24px;
}

.article__heading {
    margin-bottom: 24px;
    color: palevioletred
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
    margin-bottom: 16px;
}

.figure__caption {
    margin-top: 8px;
    font-style: italic;
    text-align: center;
}